[[source]]
url = "https://pypi.doubanio.com/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
httpx = "*"
pydantic = "*"
click = "*"
loguru = "*"
urllib3 = "*"
flask-admin = "*"
flask-sqlalchemy = "*"
flask-babelex = "*"

[dev-packages]

[requires]
python_version = "3.8"
